* ::before ::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  list-style: none;
  width: 87%;
  margin: 0 auto;
  border-bottom: 2px solid goldenrod;

  .header-title {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    padding: 0 15px;
    text-decoration: none;
    color: goldenrod;
  }
}

.header-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 300px;
}
